/* ///////////////////////////////////////////////////////////////// General */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;400;500;600;700&display=swap');

*{
    font-family: 'Montserrat Alternates', sans-serif;
}

h1{
    font-size: 50px!important;
}

:root{
    --c-main: #EA7317;
    --c-dark: #151515;
    --c-lighter: #272727;
    --c-lighter2: #abaaaa;
}

.text_main{
    color: var(--c-main);
}

.text_dark{
    color: var(--c-dark)
}

.text_lighter{
    color: var(--c-lighter);
}
.text_lighter2{
  color: var(--c-lighter2)!important;
}

.bg_main{
    background-color: var(--c-orange);
}

.bg_dark{
    background-color: var(--c-dark);
}

.bg_lighter{
    background-color: var(--c-lighter);
}

.bg_main{
    background-color: var(--c-main);
}
/* // Fine General */


/* ///////////////////////////////////////////////////////////////// Landing Page */
  
#container_landing{
    height: 100vh;
}

#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

@keyframes arrow-bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes arrow-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

#arrow_down_landing {
  animation: arrow-bounce 1.5s ease-in-out infinite;
  transition: transform 0.2s ease;
}

#arrow_down_landing:hover {
  color: var(--c-main) !important;
  animation-name: arrow-scale;
  animation-duration: 0.8;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}


  

/* // Fine Landing Page */


/* ///////////////////////////////////////////////////////////////// Navbar */
.nav-link-text {
  position: relative;
}

.nav-link-text::before {
  content: "";
  position: absolute;
  bottom: -3px;
  width: 125%;
  left: -5px;
  height: 2px;
  background-color: var(--c-main);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.nav-link-text:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.CiMenuBurger:hover{
  border: none!important;
  color: var(--c-main)!important;
}

.social_icon:hover{
 color: white!important;
 scale: 130%;
 
}


.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

/* //////////////////////////////////////////////////////////// Exagon */
.hexagon {
  width: 130px;
  height: 130px;
  background-color: var(--c-main);
  position: relative;
  clip-path: polygon(50% 0%, 90% 25%, 90% 75%, 50% 100%, 10% 75%, 10% 25%);
  border-radius: 10px;
}

.hexagon_icon_size{
  font-size: 60px;
}